.container {
  border: 2px white solid;
  margin: 0px !important;
  padding: 0px !important;
  width: 99.6vw;
  height: 40px;
  line-height: 26px;
}

.propvalue {
  font-size: 0.8em;
  color: red;
}

ul {
  text-align: left;
  margin-block-start: 0;
  margin-block-end: 0;
}

li {
  font-size: 1rem;
  display: inline-block;
}

li span {
  display: inline-block;
  font-size: 16px;
  padding-left: 10px;
  color: lightgrey;
}

li.released {
  width: 220px;
}

li.actor {
  width: 250px;
}
